.root {

        -fx-background-image:url("resources/background1.png");

}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.dialog-pane {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-family: 'Arial', sans-serif;
}

.text-field {
    -fx-font-family: 'Arial', sans-serif;
}

.line {
    -fx-stroke-width: 2px;
}

.circle {
    -fx-fill: #2196F3;
    -fx-stroke: #1976D2;
    -fx-stroke-width: 1px;
}
